body {
    background-color: #424242;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 100;
}

.container {
    width: 80vw;
    height: 80vw;
    margin: 0 auto;
}

#machine {
    border-radius: 15px;
}

h1 {
    color: white;
    display: inline-block;
    width: 100%;
    text-align: center;
}

#quoteContainer {
    padding-left: 4vw;
    padding-right: 4vw;
    color: white;
    height: 200px;
    font-size: 20px;
    font-weight: 100;
    line-height: 1.5;
}
.buttonContainer {
    display: flex;
    padding: 2vw 5vw 3vw 5vw;
    justify-content: space-between;
}

#bird {
    float: clear;
    color: #424242;
    cursor: pointer;
}

.toggle {
    color: #424242;
    cursor: pointer;
}

.class1 {
    background-color: #0097a7;
    transition: background-color 1s;
}

.class2 {
    background-color: #7e57c2;
    transition: background-color 1s;
}

.class3 {
    background-color: #ef5350;
    transition: background-color 1s;
}

#name {
    color: white;
    text-align: center;
}
