body {
    background-color: #424242;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 100;
}

.container {
    width: 80vw;
    height: 50vh;
    margin: 0 auto;
}

#machine {
    max-width: 600px;
    height: 400px;
    margin: 90px auto;
    border-radius: 15px;
}

h1 {
    color: white;
    display: inline-block;
    width: 100%;
    text-align: center;
}

#quoteContainer {
    padding-left: 4vw;
    padding-right: 4vw;
    color: white;
    height: 200px;
    font-size: 20px;
    font-weight: 100;
    line-height: 1.5;
}
.buttonContainer {
    display: flex;
    padding: 2vw 5vw 3vw 5vw;
    justify-content: space-between;
}

#bird {
    float: clear;
    color: #424242;
    cursor: pointer;
}

.toggle {
    color: #424242;
    cursor: pointer;
}

.class1 {
    background-color: #0097a7;
    transition: background-color 1s;
}

.class2 {
    background-color: #7e57c2;
    transition: background-color 1s;
}

.class3 {
    background-color: #ef5350;
    transition: background-color 1s;
}

#name {
    color: white;
    text-align: center;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
    .container {
        width: 100%;
        height: 50vh;
        margin-top: 15%;
    }

    #machine {
        width: 100%;
        height: 65vh;
        max-width: 800px;
    }

    h1 {
        font-size: 2.5rem;
        margin-top: 6vh;
    }

    #quoteContainer {
        height: 70%;
        font-size: 2.5rem;
        line-height: 2.5;
    }

    #name {
        font-size: 1.5rem;
    }

    #bird {
        font-size: 8vw;
        margin-bottom: 5px;
    }

    #newQuote {
        font-size: 8vw;
    }
}
